@import "../../../styles/neufund-theme";

$_sheep-size: 50px;

.sheep-wrapper {
  cursor: pointer;
  display: flex;
  position: absolute;
  user-select: none;
  z-index: $z-index-over-all;

  &.left {
    left: $_sheep-size / -3;
    transform: scaleX(-1);

    .thoughts-text {
      transform: scaleX(-1);
    }
  }

  &.right {
    right: $_sheep-size / -3;
  }

  &.is-hidden {
    will-change: transform;
    transition: 300ms ease-in-out transform;

    &.left {
      left: 0;
      transform: translateX(-100%) scaleX(-1);

      .thoughts-text {
        transform: scaleX(-1);
      }
    }

    &.right {
      right: 0;
      transform: translateX(100%);
    }
  }
}

.sheep-image {
  @include rect($_sheep-size);

  flex-shrink: 0;
  align-self: flex-end;
  margin-bottom: $_sheep-size / -2;
}

.thoughts {
  $_thought-appearing-time: 150ms;

  flex-shrink: 0;

  .cloud,
  .bubble-large,
  .bubble-small {
    opacity: 1;
    transition: 250ms $ease-in-out-expo opacity;

    &.is-hidden {
      opacity: 0;
    }
  }

  .cloud,
  .thoughts-text {
    transition-delay: $_thought-appearing-time;

    &.is-hidden {
      transition-delay: $_thought-appearing-time / 3;
    }
  }

  .bubble-large {
    &,
    &.is-hidden {
      transition-delay: $_thought-appearing-time * 2 / 3;
    }
  }

  .bubble-small {
    transition-delay: $_thought-appearing-time / 3;

    &.is-hidden {
      transition-delay: $_thought-appearing-time;
    }
  }
}

.thoughts-text {
  @include rect(78px, 70px);

  display: flex;
  align-items: center;
  text-align: center;
  padding: 2px;
  position: absolute;
  top: 16px;
  left: 13px;

  &.is-hidden {
    opacity: 0;
  }
}
